.activity-card {
    width: 240px;
    height: 240px;
    margin-top: 2rem;
    margin-left: 2rem;
    /* background-image: url('https://images.theconversation.com/files/366100/original/file-20201028-17-8cpm3p.jpg?ixlib=rb-1.1.0&rect=2589%2C92%2C3909%2C3909&q=45&auto=format&w=240&h=240&fit=crop') */
}


.title {
    font-weight: 700;
    color: navy;
    text-align: center;
}

.card-text {
    color: navy;
    text-align: center;
    /* justify-content: center; */
}

img {
    border: none;
}

.bg-dark{
    background-color: white !important;
}

.btn {
    background-color: navy;
    border: navy;
}

.btn :hover {
    background-color: navy !important;
}