/* #frame { */
   /* top: 60%; */
   /* transform: translate(-60%, -50%); */
   /* position: relative; */
 /* } */

 /* #frame{ */
  /* /* display: flex; */
  /* justify-content: center; 
  align-self: center; */
  /* transform: scale(0.5) */
 /* } */

 #quote {
  position: absolute;
   color: black;
   font-size: 20px;
   top: 30em;
   text-align: center;
   width: 100%;
 }

  /* #button {
   position: relative;
   
   left: 135% !important;
   height: 50px;
   margin-top: 600px;
   align-self: center;
   align-self: center;
 }  */

 #button{ 
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: 30em;
  margin-left: 45%;
  justify-content: center; 
  z-index: 999;
   /* display: flex;
    flex-direction: column */
  
  } 

  #frame {
    display: flex;
    flex-direction: column;
  }
  /* react-icons are default inline  */
 /* #icon {
  display: block;
    /* justify-content:left; */
  /* position: relative;  */
  /* padding doesn't work! */
  /* padding-left: 6px;
  padding-right: 6px; */
  
    /* align-items:flex-end;   */
 /* }  */ 

