 /* #frame { */
   /* top: 60%; */
   /* transform: translate(-60%, -50%); */
   /* position: relative; */
 /* } */

 #frame{
  display: inline-block;
  /* align-self: center; */
  /* transform: scale(0.5) */
 }

 p {
   color: black;
   margin-top: -6%;
   text-align: center;
   font-size: 25px;
 }

  /* #button {
   position: relative;
   width: 300px !important;
   left: 135% !important;
   height: 50px;
   margin-top: 600px;
   align-self: center;
   align-self: center;
 }  */

 #buttonDiv{ 
  display: flex;
  margin-top: 3%;
  justify-content: center;
 } 