 /* styles and positions the quote on the first page */
 #quote {
   position: absolute;
   color: black;
   font-size: 20px;
   top: 30em;
   text-align: center;
   width: 100%;
 }

 /* styles and positions the 'click here' button */
 #button {
   position: relative;
   z-index: 999;
 }  

 /* positions the frame div which contains logo, quote and button */
 #frame {
   display: flex;
   flex-direction: column;
 }