#footer {
    background-color: darkgrey;

}

#title {
    padding-left: 700px;


}

#button {

    position: absolute;
    margin-left: 75px;
    left: 50%;
    width: 100px;
    bottom: 5px;
    top: 5px;
}